doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Card-4
        link(rel="stylesheet" type="text/css" href="/stylesheets/card/cardStyle-4.css")
    body
        .grid
            .cell-size-4
                .image-box
                    .image
                        .image-cover
                    .heart-box
                        | ♡ 14
                        .image-cover
                    .collect-box
                        | Collect
                        .image-cover
                .contents
                    .contents-title
                        strong The Best Prototyping Tools for 2018
                    .contents-bundle
                        .main-contents-box
                            | Added to
                            span(style="color: darkturquoise; cursor: pointer;")
                                | Resources & Tools
                        .date-box
                            | December 15, 2017
            .cell-empty-8
