doctype html
html
    head
        meta(charset="UTF-8")
        title Fractal

        // jquery
        script(src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous")

        // font
        link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet")

        // icon
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

        // p5 js
        script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.sound.js")

        //script(src="/javascripts/fractal/p5.min.js")
        //script(src="/javascripts/fractal/addons/p5.dom.min.js")
        //script(src="/javascripts/fractal/addons/p5.sound.min.js")



        // css
        link(rel='stylesheet', href='/stylesheets/fractal/layout.css')

        block link


    body
        .empty-column-box
        .main
            block main

        .empty-column-box






