extends basic

block link

block content
    .modal.chat-message
        .modal-content
            .content-group
                .header 메세지가 지워집니다
                .text 진짜?
            .button-group
                .flex-empty
                .button.negative CANCEL
                .button.positive OK

    .category
        block category

    .lists
        block friends

    .util-box
        .button-1.button
            i.fas.fa-exchange-alt
        .button-2.button
            i.material-icons crop_square
        .button-3.button
            i.material-icons arrow_back
