extends layout

block link
    link(rel='stylesheet', href='/stylesheets/jsonFilter01/content.css')

block content
    .select-grid
        select#gender // 성별
            option.one 성별(ALL)
            option.two 남
            option.three 여

        select#undergrad // 학번
            option 학번(ALL)
            option 2010
            option 2014
            option 2016

        select#age // 나이
            option 나이(ALL)
            option 25
            option 24
            option 23.5
            option 22
            option 21

    .button 검색!!

    .names-box


    script(src="/javascripts/jsonFilter01/content.js")


