doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Practice 05-28
        link(rel="stylesheet" type="text/css" href="/stylesheets/grid-1/grid-style-1.css")
    body
        #grid-1
            .cell.cell-size-1 1
            .cell.cell-size-1 1
            .cell.cell-size-1 1
            .cell.cell-size-1 1
            .cell.cell-size-1 1
            .cell.cell-size-1 1
            .cell.cell-size-1 1
            .cell.cell-size-1 1
            .cell.cell-size-1 1
            .cell.cell-size-1 1
            .cell.cell-size-1 1
            .cell.cell-size-1 1
        #grid-2
            .cell.cell-size-4 4
            .cell.cell-size-4 4
            .cell.cell-size-4 4
        #grid-3
            .cell.cell-size-6 6
            .cell.cell-size-4 4
            .cell.cell-size-2 2
