doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Modal
        link(rel="stylesheet" type="text/css" href="/stylesheets/modal/modal.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        .grid
            .button-box
                i.material-icons add
                .button-content ADD ENTRY
            .main-content-box
                .transparent-box
                .modal-out-box
                    .modal-box
                        .modal-title Modal title
                        .modal-body
                            | Woohoo, you're reading this text in a modal!
                        .modal-option
