@import "global"

.main
  .title
    font-size: 3rem
    padding: 100px 150px

  .grid
    display: flex
    //justify-content: space-between
    width: 100%

  .grid-item
    margin-bottom: 20px
    @include cell-basic-design

  .grid-sizer
    width: 49%
  .gutter-sizer
    width: 2%

  .bottom
    margin-bottom: 20px
  .img-center
    background-position: center
    background-size: auto 100%
  .img-top
    background-position: top
    background-size: 100% auto

  a
    @include background-image-design
    transition-property: background-size
    transition-duration: 1s

    &[href="/calculator"]
      background-image: url("../../images/main-page/calculator-cover3.png")
    &[href="/kakaotalk/login"]
      background-image: url("../../images/main-page/kakaotalk-cover2.png")
    &[href="/fractal/education"]
      background-image: url("../../images/main-page/fractal-cover2.png")
    &[href="/textFinder"]
      background-image: url("../../images/main-page/textFinder-cover.png")
    &[href="/firebase"]
      background-image: url("../../images/main-page/firebase-cover.png")
    &[href="/ajou"]
      background-image: url("../../images/main-page/ajou-cover2.png")
    &[href="/modal"]
      background-image: url("../../images/main-page/modal-cover.png")
    &[href="/grid-1"]
      background-image: url("../../images/main-page/grid-1-cover.png")
    &[href="/card-4"]
      background-image: url("../../images/main-page/card-4-cover.png")
    &[href="/table"]
      background-image: url("../../images/main-page/table-cover.png")

    //&:hover
    //  background-size: 105% auto

    &:hover > .curtain
      background-color: rgba(100, 100, 100, 0.2)

    > .curtain
      width: 100%
      height: 100%

  .small
    width: 49%
    height: 250px

  .long
    width: 49%
    height: 500px

  .big
    width: 100%
    height: 500px
    @include cell-basic-design

  #fractal, #card-4
    background-position: center
    background-size: auto 100%
  #grid-1, #table
    background-position: center

