@import "global"

.main
  .title
    font-size: 3rem
    padding: 100px 150px

  .grid
    display: inline-block
    width: 100%

  .grid-item
    margin-bottom: 20px

    > .cell-title
      font-size: 1.2rem
      text-align: center
      width: 100%
      height: 1.5rem

    > .tags
      display: flex
      width: 100%
      > .empty-flex
        flex: 1
      > .tag
        height: 1.2rem
        padding-left: 5px
        font-size: 1rem
        text-align: end

        cursor: pointer


  .bottom
    margin-bottom: 20px
  .img-center
    background-position: center
    background-size: auto 100%
  .img-top
    background-position: top
    background-size: 100% auto

  a
    display: block
    width: 100%
    //height: calc(100% - 1.5rem)
    background-repeat: no-repeat
    @include cell-basic-design

    &[href="/calculator"]
      background-image: url("../../images/main-page/calculator-cover3.png")
    &[href="/kakaotalk/login"]
      background-image: url("../../images/main-page/kakaotalk-cover2.png")
    &[href="/fractal/education"]
      background-image: url("../../images/main-page/fractal-cover2.png")
    &[href="/textFinder"]
      background-image: url("../../images/main-page/textFinder-cover.png")
    &[href="/firebase"]
      background-image: url("../../images/main-page/firebase-cover.png")
    &[href="/ajou"]
      background-image: url("../../images/main-page/ajou-cover2.png")
    &[href="/modal"]
      background-image: url("../../images/main-page/modal-cover.png")
    &[href="/grid-1"]
      background-image: url("../../images/main-page/grid-1-cover.png")
    &[href="/card-4"]
      background-image: url("../../images/main-page/card-4-cover.png")
    &[href="/table"]
      background-image: url("../../images/main-page/table-cover.png")

    &:hover > .curtain
      background-color: rgba(100, 100, 100, 0.3)

    > .curtain
      width: 100%
      height: 100%

      transition-property: background-color
      transition-duration: 0.6s

@media screen and (min-width: 1024px)

  .grid-sizer
    width: 49%
  .gutter-sizer
    width: 2%


  .small-width
    width: 49%
  .big-width
    width: 100%
  .small-height
    height: 250px
  .long-height
    height: calc(520px + 1.2rem + 1.5rem)
  .big-height
    height: 500px



@media screen and (max-width: 1024px)

  .grid-sizer
    width: 100%
  .gutter-sizer
    width: 0

  .small-width
    width: 100%
  .big-width
    width: 100%
  .small-height
    height: 250px
  .long-height
    height: 250px
  .big-height
    height: 250px

