@import "global"
.main
  .title
    font-size: 3rem

    //margin: 0 200px
    padding: 100px 150px

  .card-grid
    width: 100%
    display: flex
    margin: 20px 0

    .card-cell
      flex: 1
      //border: $test-border

      @include cell-basic-design

    .column-cards
      flex: 1
      display: flex
      flex-direction: column

    .normal-size-cell
      height: 300px

    .left
      margin-right: 10px

    .right
      margin-left: 10px

    .bottom
      margin-bottom: 20px

    a
      &[href="/calculator"]
        background-image: url("../../images/main-page/calculator-cover.png")
        background-size: auto
        background-position: center


  .big
    height: 500px
    @include cell-basic-design

