extends layout

block link
    link(rel='stylesheet', href='/stylesheets/main-page/main.css')


block main

    .title Jaejong

    .card-grid
        a(href="/calculator").card-cell.normal-size-cell.left
            .curtain
        a(href="/kakaotalk/login").card-cell.normal-size-cell.right
            .curtain
    a(href="/fractal/education").card-grid.big
        .curtain

    .card-grid
        .column-cards.left
            a(href="/textFinder").card-cell.normal-size-cell.bottom
                .curtain
            a(href="/firebase").card-cell.normal-size-cell
                .curtain
        a(href="/ajou").card-cell.right
            .curtain

    a(href="/modal").card-grid.big
        .curtain

    .card-grid
        a(href="/calculator").card-cell.normal-size-cell.left
            .curtain
        a(href="/kakaotalk/login").card-cell.normal-size-cell.right
            .curtain



    script(src='/javascripts/main-page/sketch.js')