extends layout

block link
    link(rel='stylesheet', href='/stylesheets/main-page/main.css')


block main

    .title Jaejong

    .grid
        .grid-sizer
        .gutter-sizer

    script(src='/javascripts/main-page/masonry.js')
    script(src='/javascripts/main-page/data.js')
    script(src='/javascripts/main-page/sketch.js')


