extends layout

block link
    link(rel='stylesheet', href='/stylesheets/main-page/main.css')


block main

    .title Jaejong

    .card-grid
        a(href="/calculator").card-cell.normal-size-cell.left
        .card-cell.normal-size-cell.right
    .card-grid.big

    .card-grid
        .column-cards.left
            .card-cell.normal-size-cell.bottom
            .card-cell.normal-size-cell
        .card-cell.right




    script(src='/javascripts/main-page/sketch.js')