extends layout

block link
    link(rel='stylesheet', href='/stylesheets/main-page/main.css')


block main

    //.test
    .ui
        .input-text start branch count
        input(type='range' min=2,max=10,step=1,name='startBranchCount')
        .input-text child branch count
        input(type='range' min=2,max=8,step=1,name='childBranchCount')
        .input-text child branch angle
        input(type='range' min=0,max=50,step=1,name='childBranchAngle')
        .input-text depth count
        input(type='range' min=2,max=10,step=1,name='depthCount')
        .input-text initial branch length
        input(type='range' min=0,max=200,step=0.01,name='initialBranchLength')
        .input-text child branch length ratio
        input(type='range' min=0,max=2,step=0.01,name='childBranchLengthRatio')
        .input-text start color
        input(type='color',name='startColor', value='#ff0000')
        .input-text end color
        input(type='color',name='endColor', value='#fad022')
        .button#exec EXEC
        .button#play PLAY
        .button#pause PAUSE

    script(src='/javascripts/main-page/sketch.js')