extends layout

block link
    link(rel='stylesheet', href='/stylesheets/main-page/main.css')


block main

    .title Jaejong

    .grid
        .grid-sizer
        .gutter-sizer

        // 좌우
        a(href="/calculator").grid-item.small
            .curtain
        a(href="/kakaotalk/login").grid-item.small
            .curtain

        // 큰 그리드
        a(href="/fractal/education").grid-item.big#fractal
            .curtain

        // 왼쪽 작은거 2개, 오른쪽 큰거 1개
        a(href="/textFinder").grid-item.small
            .curtain
        a(href="/ajou").grid-item.long
            .curtain
        a(href="/firebase").grid-item.small
            .curtain

        // 큰 그리드
        a(href="/modal").grid-item.big
            .curtain

        // 좌우 그리드
        a(href="/grid-1").grid-item.small#grid-1
            .curtain
        a(href="/card-4").grid-item.small#card-4
            .curtain

        // 큰 그리드
        a(href="/table").grid-item.big#table
            .curtain


    script(src='/javascripts/main-page/sketch.js')
    script(src='/javascripts/main-page/masonry.js')